[submodule "modules/module_template"]
	path = modules/module_template
	url = https://github.com/celesnity/module-template.git
[submodule "web-ui"]
	path = web-ui
	url = https://github.com/celesnity/minder-platform-ui-v2.git
[submodule "minderSDK"]
	path = minderSDK
	url = https://github.com/celesnity/GrabMyCursor.git
	branch = main
